<form>

    <input name="subject" [(ngModel)]="subject">

    <button  (click)="showRecords()"> showRecords </button>

</form>

<br><br><br>

<table>
    <tr>
    
        <th>name</th>
        
        <th>subject</th>
        
        <th>score</th>
        
    </tr>
    
    <tr *ngFor="let result of results">
    
        <td>{{result.username}}</td>
    
        <td>{{result.subject}}</td>
    
        <td>{{result.score}}</td>
    
    </tr>
    
    </table>

    <br><br>

    <input  type=button  *ngFor="let pageno of pages" [value]="pageno" (click)="getResults2(pageno)">



